.contact-card {
  width: 300px;
  height: 150px;
  overflow: hidden;
  overflow-style: auto;
  margin-top: 10px;
}

mat-card-content {
  display: flex;
  flex: 1;
}

mat-list-item {
  margin: -12px;
}



