<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>
      {{ contact.firstName }} {{ contact.lastName}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
    <mat-list dense role="list">
      <mat-list-item>
        <mat-icon role="listitem">phone</mat-icon>{{ contact.phone }}
      </mat-list-item>
      <mat-list-item>
        <mat-icon role="listitem">email</mat-icon>{{ contact.email }}
      </mat-list-item>
      <mat-list-item>
        <mat-icon role="listitem">home</mat-icon>{{ contact.streetAddress + ', ' + contact.postalCode + ' ' + contact.city }}
      </mat-list-item>
    </mat-list>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start stretch">
      <button mat-icon-button (click)="onDeleteItem() ">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onEditItem()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="navigateToMap()">
        <mat-icon>room</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
