<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="push" [opened]="false" class="app-sidenav">
    <div class="app-sidenav-header">
      <ngx-avatar src="https://avatars3.githubusercontent.com/u/31957407?v=4" [size]="120"></ngx-avatar>
    </div>
    <div id="app-sidenav-content">
      <div>
        <input type="checkbox" class="cdk-visually-hidden">
      </div>
      <div>
        <a mat-raised-button href="https://mikkotkaipainen.github.io/contacts-app/contacts">Front page</a>
      </div>
      <div>
        <a mat-raised-button href="https://github.com/MikkoTKaipainen/contacts-app">Github</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
